header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 0px;
    padding-top: 1px;
    z-index: 200;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    color: #ffffff;
}

.logo img {
    height: 100px;
    width: auto;
    padding-left: 30px;
    padding-top: 15px;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
    padding-right: 110px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

nav ul li:last-child a {
    background-color: #3969B1;
    border-radius: 10px;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

nav ul li:last-child a:hover {
    background-color: #5A89EA;
}

button {
    border: none;
    background-color: transparent;
    color: inherit;
    width: auto;
    font-size: inherit;
}