* {
    font-family: 'Poppins';
    font-style: normal;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 0px;
    padding-top: 5px;
    z-index: 200;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    color: #ffffff;
}

header button {
    border: none;
    background-color: transparent;
    color: inherit;
    width: auto;
    font-size: inherit;
}

.logo img {
    height: 100px;
    width: auto;
    padding-left: 30px;
    padding-top: 25px;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
    padding-right: 110px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

nav ul li:last-child a {
    background-color: #3969B1;
    border-radius: 10px;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

nav ul li:last-child a:hover {
    background-color: #5A89EA;
}

.parent {
    position: relative;
    width: 100%;
}

.middle-section {
    text-align: center;
    top: 260px;
    z-index: 1000;
    color: #fff;
    position: absolute;
    font-family: 'Poppins';
    align-items: center;
}

.middle-section p {
    font-size: 15px;
    position: absolute;
    top: 100px;
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
}

.middle-section h1 {
    position: absolute;
    top: 5px;
    font-family: 'Poppins';
    font-size: 42px;
    font-weight: 600;
    line-height: 65px;
    letter-spacing: -0.03em;
    text-align: center;
}

.middle-section img {
    height: 40px;
    width: auto;
    z-index: 350;
    top: 225px;
    position: absolute;
    align-items: center;
    left: 42%;
}

.middle-section .arrow {
    border: 1px solid transparent;
    background-color: transparent;
    color: transparent;
    top: 310px;
    left: 47.6%;
    position: inherit;
}

.top-img {
    width: 100%;
    height: 99%;
    background-origin: border-box;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.seller {
    background-color: #5A89EA;
    height: 50%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.dealership {}

.security {}

.buyer {
    background-color: #5A89EA;
    height: 100vh;
    /* border-top-left-radius: 1050px;
    border-top-right-radius: 1050px; */
    border-radius: 100% 100% 0 0;
    padding: 0;
    position: absolute;
    top: 580px;
    z-index: 400;
    width: 100%;
    margin: 0;
}

.blue-block img {
    width: 100%;
    height: auto;
    top: 10px;
}

.white-circle {
    background-color: #fff;
    height: 50vh;
    width: 100%;
    border-radius: 100% 100% 0 0;
    padding: 0;
    z-index: 40;
    position: absolute;
    top: 585px;
}

.white-circle-top {
    width: 100%;
    height: auto;
    z-index: 99;
    position: absolute;
    top: 600px;
}

.black-circle-top {
    width: 100%;
    height: auto;
    z-index: 100;
    position: absolute;
    top: 590px;
}

.blue-circle-top {
    width: 100%;
    height: auto;
    z-index: 190;
    position: absolute;
    top: 600px;
}

.black-circle {
    background-color: #000;
    height: 80vh;
    width: 100%;
    border-radius: 100% 100% 0 0;
    padding: 0;
    z-index: 40;
    position: absolute;
    top: 600px;
}

.blue {
    position: absolute;
    z-index: 400;
    top: 0;
}

.black-two {
    background-color: #000;
    height: 60vh;
    width: 100%;
    padding: 0;
    z-index: 40;
    position: absolute;
    top: 1018px;
}

.blue-block {
    background-color: #5A89EA;
    height: 140vh;
    width: 100%;
    padding: 0;
    z-index: 400;
    position: absolute;
    top: 1100px;
}

.black-block-bottom {
    background-color: #030303;
    height: 91.5vh;
    width: 100%;
    padding: 0;
    z-index: 400;
    position: absolute;
    top: 3100px;
}

.black {
    position: absolute;
    top: 0;
    z-index: 200;
}

.buyers-grid {
    display: grid;
    grid-template-columns: auto auto;
    z-index: 1099;
    grid-gap: 160px;
    width: 70%;
    margin-left: 20%;
    align-items: left;
}

.buyer-content {
    z-index: 1000;
    width: 100%;
    color: #fff;
    font-family: 'Poppins';
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60%;
}

.buyer-content p {
    text-align: left;
    line-height: 1;
    /* font-size: 65px; */
}

h2 {
    margin: 0.5em 0;
    line-height: 1;
    /* Reduce margin between h2 and p elements */
}

p {
    margin: 0.25em 0;
    line-height: 1;
    /* Reduce margin between p elements */
}

.buyers-grid img {
    height: 350px;
    width: auto;
}

.buyer-id {}

.image-text-section {}

.image-text-section img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    height: 20px;
    width: auto;
    /* optional, add some space between image and text */
}

.image-text-section p span {
    display: inline-block;
    vertical-align: text-top;
}

.second-image {
    width: 100%;
    height: auto;
    z-index: 999;
    position: absolute;
}

.black-circle-bottom {
    width: 100%;
    height: auto;
    z-index: 1009;
    position: absolute;
    top: 2575px;
}

.white-circle-bottom {
    width: 100%;
    height: auto;
    z-index: 1000;
    position: absolute;
    top: 2580px;
}

.blue-circle-bottom {
    width: 100%;
    height: auto;
    z-index: 1205;
    position: absolute;
    top: 2780px;
}

.content-black-bg {}

.private-seller {
    position: absolute;
    z-index: 2005;
}

.private-seller H1 {
    text-align: center;
    color: #fff;
    font-size: 52px;
    height: 170px;
    ;
    /* font-family: ; */
}

.private-seller p {
    text-align: center;
    color: #fff;
}

.private-grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    z-index: 1099;
    grid-gap: 0;
    padding: 15px;
    width: 45%;
    margin-left: 27%;
    align-items: start;
    position: absolute;
    top: 270px;
    height: auto;
}

.private-content {
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    width: 100px;
    height: auto;
    padding: 15px;
    text-align: left;
}

.private-content img {
    height: auto;
    width: 20px;
}

.private-content h5 {
    font-family: 'Bebas Neue';
}

.dealership {
    position: absolute;
    z-index: 2005;
    color: #fff;
    height: 50px;
    text-align: center;
}

.dealership h1 {
    font-family: 'Bebas Neue';
    font-size: 38px;
}

.dealership h2 {
    font-size: 48px;
}

.dealership img {
    height: auto;
    width: 1000px;
    /* z-index: */
}

.dealership button {
    border: 1px solid transparent;
    text-align: center;
    border-radius: 15px;
    color: #fff;
    padding: 10px;
    width: 300px;
    background-color: #5A89EA;
}

.dealership-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    z-index: 1099;
    grid-gap: 0;
    padding: 15px;
    width: 30%;
    margin-left: 35%;
    align-items: start;
    position: absolute;
    top: 420px;
    height: auto;
}

.dealership-content {
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    width: 100px;
    height: auto;
    padding: 15px;
    text-align: left;
}

.security-grid {
    display: grid;
    grid-template-columns: auto auto;
    z-index: 1099;
    grid-gap: 100px;
    padding: 15px;
    width: 50%;
    margin-left: 25%;
    align-items: start;
    position: absolute;
    top: 4000px;
    height: auto;
}

.security-content {
    z-index: 3000;
    width: 100%;
    color: #fff;
    font-family: 'Poppins';
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: left;
    height: 30%;
}

.security-content h4 {
    color: #000;
    font-family: 'Bebas Neue';
    font-size: 24px;
    font-weight: light;
}

.security-content h2 {
    color: #000;
    font-size: 38px;
}

.security-content p {
    color: #000;
}

.security-content .store {
    width: 310px;
    height: auto;
    /* align-items: left; */
    /* display: flex;
    flex-direction: column; */
    /* left: 510px; */
}

.security-content img {
    width: auto;
    height: 500px;
}

.bottom-block {
    background-color: #030303;
    height: 13vh;
    width: 100%;
    z-index: 4000;
    position: absolute;
    top: 4700px;
    padding-top: 10px;
}

.bottom-block img {
    width: 130px;
    height: auto;
}

.dealership-content img {
    height: auto;
    width: 20px;
}

.dealership-content img {
    height: auto;
    width: 20px;
}

.dealership-content h5 {
    font-family: 'Bebas Neue';
}

.security {
    z-index: 1050;
    position: absolute;
    top: 3820px;
}

.security img {
    width: 100%;
    height: auto;
}

.block-bottom {
    background-color: #EEF4FF;
    position: absolute;
    height: 91.5vh;
    width: 100%;
    padding: 0;
    z-index: 400;
    position: absolute;
    top: 3960px;
}


/* curved-div {
    background: #ff3c00;
    color: #FFF;
    text-align: center;
}

.curved-div h1 {
    font-size: 6rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.curved-div p {
    font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} */


/* for mobileor smaller screens */